:root{
  --clr-600: #051f20;
  --clr-500: #0b2b26;
  --clr-400: #163832;
  --clr-300: #235347;
  --clr-200: #8eb69b;
  --clr-100: #daf1de;

  --nav-height: 6rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

/* ---------------------------------------------------------------------- General Styling ---------------------------------------------------------------------- */

body {
  font-family: "Raleway", sans-serif !important;
}

main {
  margin-top: var(--nav-height);
  background-color: var(--clr-400);
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 3rem;
  color: var(--clr-200);
  font-weight: bold;
  padding-bottom: .5rem;
}

h2 {
  font-size: 2rem;
  color: var(--clr-600);
  padding-bottom: .5rem;
}

h3 {
  font-size: 1.5rem;
  color: var(--clr-500);
  padding-top: .5rem;
}

p, li, label, a{
  font-size: 1.25rem;
  color: var(--clr-100);
}

.skillbar {
  cursor: pointer;
}

.hide {
  display: none;
}

.display {
  display: block;
}

section {
  padding-bottom: 4rem;
}

*{
  margin: 0;
  padding: 0;
}


/* ---------------------------------------------------------------------- Navigation Bar ---------------------------------------------------------------------- */

.nav-background{
  position: fixed;
  width: 100%;
  background-color: var(--clr-600);
  height: var(--nav-height);
  top: 0;
  z-index: 10;
}

.primary-navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: var(--nav-height);
}


.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  outline: #000000;
}


.nav-list a {
  text-decoration: none;
}

.nav-list a:hover,
.nav-list a:focus{
  color: var(--clr-200);
}

.selected {
  color: var(--clr-600);
}

@media (max-width: 50em){
  .button {
    display: flex;
  }

  .nav-list {
    display: none;
    position: absolute;
    text-align: center;
    background-color: var(--clr-600);
    width: 25%;
    left: 75%;
    top: 100%;

    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding: 6rem 0;
  }

  .nav-list[data-visible]{
    display: flex;
  }
}



/* ---------------------------------------------------------------------- Main ---------------------------------------------------------------------- */

/* ----------------------------------- Main Banner ----------------------------------- */

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}

.main-banner {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
    to right,
    var(--clr-500),
    var(--clr-200),
    var(--clr-500)
  );
  background-size: 200%;
  overflow: hidden;
  height: calc(100vh - 5rem);
  margin: 0px;
}

.main-banner.toggled {
  animation: none;
}

.main-banner.toggled > #title {
  opacity: 0;
}

.main-banner.toggled > #icon {
  opacity: 1;
}

.main-banner.toggled > #tiles > .tile:hover {
  opacity: 0.1 !important;
}

.centered {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

#tiles {
  height: calc(100vh - 1px);
  width: calc(100vw - 1px);
  position: relative;
  z-index: 2;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.tile {
  cursor: pointer;
  position: relative;
}

.tile:hover:before {
  background-color: rgb(30, 30, 30);
}

.tile:before {
  background-color: rgb(15, 15, 15);
  content: "";
  inset: 0.5px;
  position: absolute;
}

#title {
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 6vw;
  margin: 0px;
  pointer-events: none;
  transition: opacity 1200ms ease;
  width: 50vw;
  z-index: 3;
}

/* ----------------------------------- About Me ----------------------------------- */

#About-Me {
  padding-top: 4rem;
}

/* ----------------------------------- Portfolio ----------------------------------- */

.portfolio-box {
  background-color: var(--clr-200);
  padding: 1rem;
}

/* Employment History */

.image {
  width: 200px;
}

.grow:hover{
  transform: scale(1.2);
  transition: .5s ease;
}

.job-row{
  display: flex;
  justify-content: space-around;
  padding-bottom: 1rem;
}

.job-column{
  background-color: #181818;
  overflow: hidden;
  border-radius: .5rem;
}

.job-column:nth-child(4){
  background-color: #a81214;
}

.job-column[active]{
  outline: 3px solid var(--clr-200);
}

.job-column img{
  aspect-ratio: 1 / 1;
  transition: all 500ms;
}

.job-column img:hover {
  scale: 1.1;
}

.job-column:nth-child(3) img{
  scale: 0.7;
}

.job-column:nth-child(3) img:hover{
  scale: 0.8;
}

.job-column:nth-child(4) img{
  scale: 0.9;
}

.job-column:nth-child(4) img:hover{
  scale: 1;
}

.job{

  --y: 0;

  opacity: 0;
  height: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 0s;
}

.job[visable]{

  opacity: 1;
  height: fit-content;
  filter: blur(0);
  transform: translateY(var(--y));

  transition: all 1s;

  background-color: var(--clr-200);
  padding: 1rem;
}

@media(max-width: 60em) {
  .job-row{
    padding-bottom: 0rem;
    flex-direction: column;
    row-gap: 1rem;
  }

  .employ-row {
    display: flex;
    column-gap: 1rem;
    padding-inline: 1rem;
    justify-content: flex-start;
  }

  .job:nth-child(2){
    --y: 220px;
  }

  .job:nth-child(3){
    --y: 440px;
  }

  .job:nth-child(4){
    --y: 660px;
  }

}

/* ----------------------------------- Contact ----------------------------------- */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--clr-100);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* ---------------------------------------------------------------------- Footer ---------------------------------------------------------------------- */

.footer-background{
  width: 100%;
  background-color: var(--clr-600);
  padding: 2rem 0;
}

.footer-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ----------------------------------- Footer Icons ----------------------------------- */

.icons {
  display: flex;
}

.icons li a {
  width: 60px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  margin: 0 20px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid var(--clr-300);
  
}

.icons li a i{
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 2;
}

.icons li a:hover i{
  color: #fff;
}

.icons li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;

}

.icons li a:hover:before {
  top: 0;
}

.icons li:nth-child(1) a:before{
  background: #3b996d;
}

.icons li:nth-child(2) a:before {
  background: #0077b5;
}

.icons li:nth-child(3) a:before {
  background: #dd4b39;
}



/* ---------------------------------------------------------------------- Utility ---------------------------------------------------------------------- */


.container{
  --max-width: 1110px;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
  
}

.center-div {
  display: grid;
  place-items: center;
}

.flow {
  padding-top: 1rem;
}

.center-text {
  text-align: center;
}

/* ---------------------------------------------------------------------- Diagonal Background ---------------------------------------------------------------------- */

.diagonal-background {
  --skew-angle: -2deg;
  --background: linear-gradient(
                  45deg, 
                  var(--clr-300),
                  var(--clr-400),
                  var(--clr-500), 
                  var(--clr-400),
                  var(--clr-300)
                );

  position: relative;
  isolation: isolate;
}

.diagonal-background::after {
  content: '';
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}

/* ---------------------------------------------------------------------- Typing Effect ---------------------------------------------------------------------- */

.typing-demo {
  --font-size: 5rem;
  font-size: var(--font-size);
  animation: typing 2s steps(20), blink .75s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid var(--clr-100);
}

.typing-demo h1 {
  font-size: var(--font-size);
}

@keyframes typing {
  from { width: 0 }
  to { width: 11ch }
}
    
@keyframes blink {
  50% { border-color: transparent }
}

@media (max-width: 50em){
  .typing-demo{
    --font-size: 4rem;
  }
}

/* ---------------------------------------------------------------------- Button Styling ---------------------------------------------------------------------- */

.button {
  display: none;
  --button-color: var(--clr-200);

  background: transparent;
  border: 3px solid var(--button-color, #000);
  border-radius: .25rem;
}

.button .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
  transform-origin: center;
}

.button[aria-expanded="true"] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.button[aria-expanded="true"] :is(.top, .bottom) {
  y: 45;
}

.button[aria-expanded="true"] .top {
  rotate: 45deg;
}

.button[aria-expanded="true"] .middle {
  opacity: 0;
}

.button[aria-expanded="true"] .bottom {
  rotate: -45deg;
}

/* ---------------------------------------------------------------------- Scroll Transition ---------------------------------------------------------------------- */

.scroll-hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.scroll-hidden-delay:nth-child(1){
  transition-delay: 600ms;
}

.scroll-hidden-delay:nth-child(2){
  transition-delay: 400ms;
}

.scroll-hidden-delay:nth-child(3){
  transition-delay: 200ms;
}

.scroll-visable{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
